<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.auth.mapper.SystemPermissionMapper">


    <select id="findByUerName" resultType="com.xiaoyu.user.entity.SystemPermission">
        select * from system_permission where permission_id in (
        select permission_id from system_role_permission where role_id in(
        select role_id from system_user_role where user_id = (
        select user_id from system_user where user_name = #{userName}
        <if test="exhibition !=null and exhibition != '' ">
            and exhibition = #{exhibition}
        </if>
        )));
    </select>


</mapper>
